<div class="mx-sm-3"><p>Ask your coach anything</p></div>
<form class="form-inline" action="/answer" method="get">
  <input type="text" class="form-control w-75 mx-3 mb-2" name="question" value="<%= params[:question] %>">
  <input type="submit" class= "btn btn-primary mb-2" value="Ask!">
</form>
