@import "bootstrap";
@import "questions";

.container {
  width: 960px;
  margin: 100px auto;
 }

body {
  background:#d9f9f9;
}


// .quote {
//   width: 500px;
//   border-left: 5px solid gray;
//   p {
//     margin-left: 12px;
//   }
// }

// .background-coral{
//  background:#f7e4c5;
// }
